.background {
    background-color: #fbd28f;
}
.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    text-align: center;
}

p, 
ol {
    text-align: left;
    width: 800px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word;
    display: table; 
    margin: 0 auto;
}

#links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #c32b3b;
}

ul
{
    display: table; 
    margin: 0 auto;
    text-align: left;
    }

.image_block {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.img {
    height: auto;
    width: 200px;

}