.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    text-align: center;
}

.links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #c203fc;
}

p, 
ol {
    text-align: left;
    width: 800px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word;
    display: table; 
    margin: 0 auto;
}

ul
{
    display: table; 
    margin: 0 auto;
    text-align: left;
    }

.img {
    height: auto;
    width: 200px;
}